@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Serif&display=swap');

/*start global*/
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
*{
    color: black;
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html{
    font-size: 9px;
    /* font-family: 'Merienda', cursive; */
    color: black;
    font-family: 'Merriweather', serif;
}
body{
    font-family: 'Merriweather', serif;
    /* font-family: 'Merienda', cursive; */
    /* color: thistle; */
    width: 100%;
    height:100%;
    /* background: url("/images/fay.JPG"); */
    /* background-color: black; */
    background-size: cover;
}
section{
    padding: 6rem 0;
}
a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    width: 100%;
}
/*end global*/

/*start reusable*/
.container{
   width: 90%; 
   max-width: 120rem;
   height: 100%;
   margin: 0 auto;
   position: relative;
   color: white;
}
.section-heading{
    color: white;
    text-align: center;
    margin-bottom: 10rem;
}
.section-heading h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom:-.5rem ;
    transform: translateX(-50%);
    
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: 8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom:-1rem ;
}
.section-heading h6{
    font-size: 3.5rem;
    font-weight: 300;
}
.has-margin-right{
    margin-right: 5rem;
}
/*end reusable*/

/*start header*/
header{
    width:100%;
    height:100vh;
}
.top-nav{
    width: 100%;
    height:10vh;
    position:fixed;
    top:100vh;
    z-index: 50;
    background-color: #221e3f;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition:all 650ms cubic-bezier(1,0,0,1)
}
.nav-list{
    list-style: none;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 2rem;
}
.nav-link{
    font-family: 'Merriweather', serif;
    /* font-family: 'Merienda', cursive; */
    font-size:3rem;
    padding:1rem;
}
.nav-link:hover,
.nav-link:focus{
    background:linear-gradient('to top', #ffe838,#fd57bf);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.top-nav{
    top: 0;
    border-radius: initial;
}



.landing-text{
    /* background: url("/images/fay.JPG"); */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #bd210c

}
.landing-text h1{
    font-family: 'Merriweather', serif;
    font-size: 5rem;
    /* font-family: 'Merienda', cursive; */
    color: #bd210c
    
}
.landing-text h6{
    font-size: 5rem;
    font-weight: 300;
    color: #bd210c
}
/*end header*/

/*start about*/
.about .container{
    display: flex;
    align-items:center;
    justify-content: center;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    /* margin-bottom: 6rem; */
}
.about-heading h1{
    font-size: 4rem;
    
}
.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}
.profile-img{
    flex: 1;
    margin-right: 5rem;
    z-index: -1;
    /* opacity: 0.5; */
}
.about-details{
    flex: 1;
}
.social-media{
    margin-top: 5rem;

}
.social-media i{
    font-size:5rem;
    transition: color 650ms;
}
.fa-facebook-square:hover{
    color:white;
}
.fa-linkedin-square:hover{
    color: white;
}
.fa-github-square:hover{
    color: white;
}
.fa-twitter-square:hover{
    color: white;
}
/*End about*/

/*start services*/
.my-skills{
    /* font-family: 'Merienda', cursive; */
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

/*End services*/

/*Start portfolio*/
.project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.project-item:last-child{
    margin-bottom: 0;
}
.profile-img{
    width: 50rem;
    flex: 1;
}

.project-description h1{
    font-family: 'Merriweather', serif;
    /* font-family: 'Merienda', cursive; */
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}
.project-description h6{
    font-family: 'Merriweather', serif;
    /* font-family: 'Merienda', cursive; */
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    
}
.project-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}
.project-description .cta:hover{
    color: #2f67cd;
}
/*End portfolio*/

#contact{
    color: white;
}
.contact{
    color: white;
    background-color: #221e3f;
    

}

/*End contact*/

/*Start footer*/
.copyright{
    width:100%;
    text-align: center;
    background-color: #16162d;
    padding:2rem 0;
    position: relative;
}
.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}
.up i{
    color:hsl(115, 90%, 53%);
    font-size: 2rem;
    margin: auto;
}
.copyright p{
    font-family: 'Merriweather', serif;
    /* font-family: 'Merienda', cursive; */
    font-size: 1.4rem;
    color: white;
}
/*End footer*/

/*Start animation*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*End animation*/

/*media queries*/
@media screen and (max-width:768px){
    body{
        background-color: black;
    }
    .landing-text h1{
        font-size: 15rem;
    }
    .landing-text h6{
        font-size: 1.7rem;
    }
    .nav-list{
        flex-direction: column;
    }
    li{
        margin: 2rem 0;
    }
    .nav-link{
        font-size: 4.5rem;
    }
    .about-heading h1{
        font-size: 8rem;
    }
    .section-heading h1{
        font-size: 3rem;
    }
    .about-details .nav-list{
        flex-direction: initial;
    }
    .about-details li{
      margin: 0 2rem;  
    }
    .icon-container{
       width: 7rem; 
       height: 7rem;
    }
    .icon-container i{
        font-size: 4rem;
    }
    .timeline ul{
        margin: 0 0 0 auto;
    }
    .timeline .date::before{
        left: -20rem;
    }
    .timeline .date::after{
        left: -5.9rem;
    }

}
@media screen and (max-width:600px) {
   .menu-toggler{
       top:2rem;
       right: 2rem;
   } 
   .landing-text h1{
       font-size: 3.5rem;
   }
   .about .container{
       flex-direction: column;

   }
   .profile-img{
       margin: 0 0 7rem 0;
   }
   .project-item{
       flex-direction: column;
   }
   .project-img{
       margin: 0 0 2rem 0;
       order: 1;
   }
   .project-description{
       margin: 0;
       order: 2;
   }
   .timeline p{
       font-size: 1.6rem;
   }
   .timeline .date::before{
        font-size: 1.4rem;
   }
   form{
       width: 100%;
   }
   .up{
       right: 2rem;
   }

}
/*media queries*/

#about, #services, #projects{
    padding-top: 70px;
}












